body {
    background: url(./img/tlo.png);
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    background-size: cover;
}

h1 {
    background: linear-gradient(90deg, #2F3A1E, #5A6540);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-top: 50px;
    font-size: 56px;
    font-weight: bolder;
    text-align: center;

    text-shadow: black 0px 0px 20px;
}

.box {
    width: 100%;
    height: 100%;
}

.lewo {
    float: left;
    width: 50%;
    text-align: center;
    opacity: 0;
}

.prawo {
    float: right;
    width: 50%;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 40px;
    margin-top: 200px;
}

.prawo button {
    display: flex;
    cursor: pointer;
    color: white;
    text-shadow: white 0px 0px 20px;

    background: linear-gradient(to left, #2F3A1E, #3F4A28, #4A5530, #5A6540);
    border: 0px;
    border-radius: 6px;
    font-size: 20px;
    padding: 25px 50px;
}

.prawo button:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    box-shadow: black 0px 0px 10px;
    color: lightgreen;
}